Source: ros-jazzy-grid-map
Section: misc
Priority: optional
Maintainer: Maximilian Wulf <mwulf@anybotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://github.com/anybotics/grid_map
Standards-Version: 3.9.2

Package: ros-jazzy-grid-map
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-grid-map-cmake-helpers, ros-jazzy-grid-map-core, ros-jazzy-grid-map-costmap-2d, ros-jazzy-grid-map-cv, ros-jazzy-grid-map-demos, ros-jazzy-grid-map-filters, ros-jazzy-grid-map-loader, ros-jazzy-grid-map-msgs, ros-jazzy-grid-map-octomap, ros-jazzy-grid-map-pcl, ros-jazzy-grid-map-ros, ros-jazzy-grid-map-rviz-plugin, ros-jazzy-grid-map-sdf, ros-jazzy-grid-map-visualization, ros-jazzy-ros-workspace
Description: Meta-package for the universal grid map library.
